* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: satoshi;
  src: url(fonts/Satoshi-Light.otf);
}
@font-face {
  font-family: satoshi-bold;
  src: url(fonts/Satoshi-Bold.otf);
}

@font-face {
  font-family: satoshi-medi;
  src: url(fonts/Satoshi-Medium.otf);
}

 body {
  letter-spacing: 2px;
  font-family: satoshi;
  background-color: rgb(22, 22, 24);
  overflow-x: hidden;
  align-items: center;
  justify-content: center;
  margin: 0px !important;
}




/* CANVAS =====================================================================================================*/

  #canvasContainer {
    transition: ease-in-out 0.3s;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
  }

  canvas {
    transition: ease-in-out 0.3s;
    width: 100vw;
    height: 100vh;
  }

  #content {
    transition: ease-in-out 0.3s;
    position: relative;
    z-index: 1;
  }
/* END OF CANVAS =====================================================================================================*/




/*  HEADER NAV  =====================================================================================================*/
.header-wrapper {
  display: flex;
  justify-content: center;
}

.header {
  position: fixed;
  width: 100%;
  padding: 0px 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  height: 110px;
  transition: ease-in-out 0.5s;
  z-index: 10;
  box-shadow: 0 0px 40px rgba(0,0,0,0.2);
  backdrop-filter: blur(6px);
  background-size: 200% 200%;
  animation: gradient 5s ease infinite;
}


.header-logo {
  height: 40px;
  transition: ease-in-out 0.3s; 
}

.menu-nav {
  display: flex;
  align-items: center;
  width: 600px;
  color: white;
  margin-right: 32vw;
  transition: opacity 100ms ease-in-out, display 200ms ease-in-out;
}

.menu-nav a {
  margin-left: 8vw;
}


  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .action {
    z-index: 5;
    color: white;
    padding: 15px 30px ;
    backdrop-filter: blur(3px);
    background: linear-gradient(-45deg, #ffffff0f, #ffffff55, #ffffff0f, #ffffff55);
    background-size: 200% 200%;
    animation: gradient 5s ease infinite;
    border: 1px solid rgba(255, 255, 255, 0.397);
    border-radius: 10px;
    position: absolute;
    right: 4rem;
    transition: 0.3s ease-in-out;
    font-size: 20px;
  }

  .action:hover {
    box-shadow: 0px 0px 10px 5px #00dc6e88;
    transition: 0.3s ease;
  }

  /* hamburger icon */

  .menu {
    z-index: -10;
    cursor: pointer;
    background-color: transparent;
    border: none;
    display: flex;
    padding: 0;
    width: 45px;
    transition: ease-in-out 0.3s; 
  }
  .line {
    transition: ease-in-out 0.3s; 
    transition: ease-in-out 0.3s; 
    fill: none;
    stroke: rgb(255, 255, 255);
    stroke-width: 6.2;
    opacity: 0;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line1 {
    stroke-dasharray: 40 207;
    stroke-width: 6.2;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6.2;
  }
  .line3 {
    stroke-dasharray: 40 207;
    stroke-width: 6.2;
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 5;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 5;
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 5;
  }

  @media only screen and (max-width: 885px) {
    .menu-nav a {
      margin-left: 5vw;
      font-size: 13px;
    }

    .menu-nav {
      margin-right: 0vw;
      padding-left: 40px;
    }
  }

  @media only screen and (max-width: 500px) {

    .header-logo {
      height: 30px; 
    }

    .header {
      padding: 0px 4rem;
    }

    .menu-nav a {
      display: none;
    }

    .line {
      opacity: 1;
    }

    .action {
      right: calc(50% - 40.57px);
      padding: 10px 15px;
    }

  }
  

/*  HEADER NAV  =====================================================================================================*/




/*  TITLE TEXT AND CUBE =====================================================================================================*/
  
  .title-text {
    overflow-x: hidden;
    align-items: center;
    background: transparent;
    display: flex;
    flex-direction: row;
    height: 100vh;
    position: relative;
    width: 100%;
    padding-left: 4rem;
    padding-right: 4rem;
  }
  
  .text {
    z-index: 5;
    font-size: 4vw;
    letter-spacing: -.01em;
    
    width: 60vw;
    color: rgba(182, 182, 182, 0.297);
    background: linear-gradient(to right, #ffffff, #b6b6b6) no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 0%;
    transition: background-size cubic-bezier(.1,.5,.5,1) 5s;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
  }

  .text-wrapper {
    width: 100%;
  }


  /* tablet */
  @media only screen and (max-width: 1280px)   {
    .text-wrapper {
      padding-top: 8rem;
    }
    .text1, .text {
      font-size: 57px;
    }
  }
  /* mobile */
  @media only screen and (max-width: 500px)   {
  .text-wrapper {
    margin-top: -150px;
  }  
  .text {
      font-size: 30px;
      width: 95vw;
    }

  .text h2 {
    font-size: 30px;
  }


  }

  span {
    border-radius: 1px;
    position: absolute;
    width: fit-content;
    height: auto;
    padding: 0px 5px 10px 3px;
    background: linear-gradient(-45deg, #bfbebe, #ffffff, #bfbebe, #ffffff);
    animation: gradient 5s ease infinite;
    background-size: 200% 200%;    color: #0D0D0D;
    
    clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
    transform-origin: center;
    transition: all cubic-bezier(.1,.5,.5,1) 0.4s;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


  .text:hover > span {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  .text1:hover > span {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  a {
    text-decoration: none;
    color: inherit;
  }


  
/*====  CUBE  ====*/




/* Showbox cube section (on right side) */
.cube__section {
  overflow-x: hidden;
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: right;
  width: 100%;
}


/* The cube outer container */
.cube {
  position: absolute;
  margin-right: 4rem;
  margin-top: 9rem;
  height: 20rem;
  perspective: 60rem;
  width: 20rem;
  transition: ease-in-out 1.45s;
}

/* The cube's inner container */
/* Note: rotationBox keyframes is placed right at the end */
.cube__container {
  animation: rotationBox 20s linear infinite forwards;
  height: 100%;
  position: relative;
  transform: translateZ(-10rem);
  transform-style: preserve-3d;
  width: 100%;
}

/* This will target every single side of the cubez */
.cube__face {
  align-items: center;
  background-color: #eee;
  display: flex;
  height: 15rem;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  width: 15rem;
}

/* This will target an individual side of the cube */
.cube__face--front {
  transform: rotateY(0deg) translateZ(7.5rem);
}
.cube__face--back {
  transform: rotateY(180deg) translateZ(7.5rem);
}
.cube__face--left {
  transform: rotateY(-90deg) translateZ(7.5rem);
}
.cube__face--right {
  transform: rotateY(90deg) translateZ(7.5rem);
}
.cube__face--top {
  transform: rotateX(90deg) translateZ(7.5rem);
}
.cube__face--bottom {
  transform: rotateX(-90deg) translateZ(7.5rem);
}

/* Video inside the cube */
.video__container {
  height: auto;
  min-height: 100%;
  object-fit: cover;
  width: 100%;
}

/* mobile */
@media only screen and (max-width: 600px) {
  /* CSS Reset */

  html {
    font-size: 50%;
  }

  .cube {
    transition: ease-in-out 1.45s;
    margin-top: 58rem;
    height: 20rem;
    perspective: 60rem;
    width: 20rem;
  }


}


/* Animation */

@keyframes rotationBox {
  0% {
    transform: rotate3d(0, 0, 0, 0deg);
  }
  25% {
    transform: rotate3d(0, 1, 1, 90deg);
  }
  50% {
    transform: rotate3d(1, 0, 1, 180deg);
  }
  75% {
    transform: rotate3d(1, 1, 0, 240deg);
  }
  100% {
    transform: rotate3d(1, 1, 1, 360deg);
  }
}
  
/* END OF CUBE */


/*=====  END OF TITLE TEXT AND CUBE =====================================================================================================*/



/* PORTFOLIO =============================================================================================================*/

.accordian-wrapper {
  width: 100vw;
  height: 120vh;
  transition: ease-in-out 1.55s;
  margin-top: 400px;
}

.accordion-slider{
  border-radius: 10px;
  height:400px;
  width: 80%;
  margin: auto auto 0px;
  display: table;
  table-layout: fixed;
  padding: 0;
  list-style: none;
  overflow: hidden;
  &:hover li{
    width: 10%;
  }
  li{
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    background: linear-gradient(-45deg, #80808059, #28282813, #80808059, #28282815);
    background-size: 300% 300%;
    animation: gradient 5s ease infinite;
    transition: all 1000ms ease;
    width: 20%;
    height: 200px;
    display: table-cell;
    height: 200px;
    box-shadow: 0px 0px 20px rgba(156, 156, 156, 0.8);
    position: relative;

    &:hover{
      width: 60%;
    }
  }
  .item{
    min-width: 150px;
    position: absolute;
    right: 0;
    left: 0;
    height: 100%;
    color: #ccc;
    padding: 0 0px;
    text-decoration: none;
  }
}
@media (max-width:768px){
  .accordion-slider:hover li,
  .accordion-slider li,
  .accordion-slider li:hover{
    display: table;
    width: 100%;
  }
  .accordion-slider li{
    height: 100px;
  }

}

@media (max-width: 600px){

   .item img {
    width: 50%;
    height: 50%;
   }

   .img-overlay1, .img-overlay2, .img-overlay3, .img-overlay4, .img-overlay5 {
    display: none;
   }

   .accordion-slider {
    width: 90%;
   }

   .vid1, .vid2, .vid3, .vid4, .vid5 {
    height: 140px !important;
  }

  .vid1:hover, .vid2:hover, .vid3:hover, .vid4:hover, .vid5:hover {
    height: 200px !important;
  }

  .accordian-wrapper {
    margin-top: 200px;
  }

}

 .item img {
  width: 100%;
  height: 100%;
  transition: ease-in-out 0.5s;
 }

 .item video {
  overflow: hidden !important;
  object-fit: cover !important;
}

.vid1, .vid2, .vid3, .vid4, .vid5 {
  padding-top: 5px;
  height: 400px;
  width: 100%;
  transition: ease-in-out 0.5s;
  opacity: 0;
  z-index: 10;
}



    
/* END OF PORTFOLIO =====================================================================================================*/






/* SERVICES CARDS =====================================================================================================*/

/* 3D Slideshow */ 


#slideshow {
  padding-top: 300px;
	height: 150vh;
	width: 100%;
	box-sizing: border-box;
  overflow-x: hidden;
}

.slideshow-title {
	font-family: 'Allerta Stencil';
	font-size: 62px;
	color: #fff;
	margin: 0 auto;
	text-align: center;
	margin-top: 25%;
	letter-spacing: 3px;
	font-weight: 300;
}

.sub-heading {
	padding-top: 50px;
	font-size: 18px;
} .sub-heading-two {
	font-size: 15px;
} .sub-heading-three {
	font-size: 13px;
} .sub-heading-four {
	font-size: 11px;
} .sub-heading-five {
	font-size: 9px;
} .sub-heading-six {
	font-size: 7px;
} .sub-heading-seven {
	font-size: 5px;
} .sub-heading-eight {
	font-size: 3px;
} .sub-heading-nine {
	font-size: 1px;
}

.entire-content {
	margin: auto;
	width: 190px;
	perspective: 700px;
	position: relative;
	padding-top: 80px;
}

.content-carrousel {
  justify-content: center;
  align-items: center;
  display: flex;
	width: 100%;
	position: absolute;
	float: right;
	animation: rotar 30s infinite linear;
	transform-style: preserve-3d;
  transition: ease-in-out 0.3s;
}

.content-carrousel:hover {
	animation-play-state: paused;
	cursor: pointer;
  transition: ease-in-out 0.3s;
}

.content-carrousel figure {
	width: 130%;
	height: 150px;
	border: 0.1px solid #b2b2b2;
	overflow: hidden;
	position: absolute;
  border-radius: 5px;
}

.content-carrousel figure:nth-child(1) {
	transform: rotateY(0deg) translateZ(400px); 
} .content-carrousel figure:nth-child(2) {
	transform: rotateY(40deg) translateZ(400px); 
} .content-carrousel figure:nth-child(3) {
	transform: rotateY(80deg) translateZ(400px); 
} .content-carrousel figure:nth-child(4) {
	transform: rotateY(120deg) translateZ(400px); 
} .content-carrousel figure:nth-child(5) {
	transform: rotateY(160deg) translateZ(400px); 
} .content-carrousel figure:nth-child(6) {
	transform: rotateY(200deg) translateZ(400px); 
} .content-carrousel figure:nth-child(7) {
	transform: rotateY(240deg) translateZ(400px); 
} .content-carrousel figure:nth-child(8) {
	transform: rotateY(280deg) translateZ(400px); 
} .content-carrousel figure:nth-child(9) {
	transform: rotateY(320deg) translateZ(400px); 
} .content-carrousel figure:nth-child(10) {
	transform: rotateY(360deg) translateZ(400px); 
} 

.shadow {
    position: absolute;
    box-shadow: 0px 0px 20px 0px #000;
    background: linear-gradient(-45deg, #dcdcdcc8, rgb(255, 255, 255), rgb(255, 255, 255), #28282815);
    background-size: 300% 300%;
    animation: gradient 5s ease infinite;
    box-shadow: 0px 0px 20px rgba(156, 156, 156, 0.8);
}

.content-carrousel img {
	image-rendering: auto;
	transition: all 300ms;
	width: 100%;
	height: 100%;
}

.content-carrousel img:hover {
	transform: scale(1.2);
	transition: all 300ms;
}

@keyframes rotar {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

/* END OF SERVICES CARDS =====================================================================================================*/





/* FOOTER =====================================================================================================*/

.footer-container {
  color: #fff;
  height: fit-content;
  width: 100%;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  background: linear-gradient(-45deg, #70707067, #27262654, #7272725c, #3939396c);
  background-size: 400% 400%;
  animation: gradient 8s ease infinite;
  border: 0.1px solid rgba(255, 255, 255, 0.397);  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  padding: 20px 4rem 30px 4rem;
}
 

.row-menu {
  margin-top: 40px ;
    width: 100%;
    max-width: 100%;
    grid-column-gap: 80px;
    flex-direction: row;
    justify-content: flex-end;
    display: flex;
    text-align: center;
}

.row-menu h2 {
  padding-bottom: 35px;
  font-size: 13px;
  color: #e4e4e4;
}

.row-menu li {
  padding-bottom: 10px;
  list-style: none;
}

.policy-row a:hover {
  color: rgb(143, 143, 143);
  transition: ease-in-out .1s;
}

.row-menu li:hover {
  color: rgb(143, 143, 143);
  transition: ease-in-out .1s;
}

.img-column {
  max-width: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-column img {
   height: 50px;
   width: auto;
}

.img-column p {
  padding-top: 23px;
  text-align: center;
  line-height: 20px;
}


.row-1 {
  width: fit-content;
}

.row-1 h1 {
  margin-top: 40px;
  font-size: 150px;
}

.policy-row {
  display: flex;
  justify-content: space-between;
  width: 40vw;
  bottom: 0px;
  padding: 50px 0px 0px 100px;
}


@media only screen and (max-width: 850px)   {
  .footer-container {
    padding: 20px 2rem 30px 2rem;
    display: grid;
    justify-content: center;
  }

  .row-menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto;
    gap: 20px; 
  }
  
  .img-column {
    justify-self: center;
    max-width: 200px;
    grid-column: 1 / -1;
  }
    


  .policy-row {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    bottom: 30px;
    left: 0;
    padding: 50px 4rem 0px;
    position: relative;
  }

  .row-1 h1 {
    font-size: 100px;
    display: flex;
    justify-content: center;
  }

}

/* END OF FOOTER =====================================================================================================*/























